<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbExamen1POOEntities" connectionString="metadata=res://*/AutomivilesModel.csdl|res://*/AutomivilesModel.ssdl|res://*/AutomivilesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER01;initial catalog=dbExamen1POO;user id=sa;password=crpp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>